[package]
name = "ustr"
version = "0.10.0"
authors = ["Anders Langlands <anderslanglands@gmail.com>"]
edition = "2021"
license = "BSD-2-Clause-Patent"
description = "Fast, FFI-friendly string interning."
documentation = "https://docs.rs/ustr"
repository = "https://github.com/anderslanglands/ustr"
readme = "README.md"
keywords = ["string", "interning", "FFI"]
categories = ["caching", "data-structures"]

[badges]
travis-ci = {repository = "anderslanglands/ustr", branch="master"}

[dependencies]
lazy_static = "1.4.0"
byteorder = "1.4.3"
serde = {version="1.0", optional = true}
parking_lot = "0.12.1"
ahash = {version = "0.8.3", features = ["compile-time-rng"]}

[dev-dependencies]
criterion = "0.4.0"
crossbeam-utils = "0.8.1"
crossbeam-channel = "0.5.0"
string-interner = "0.13.0"
string_cache = "0.8.1"
libc = "0.2.62"
serde_json = "1.0"

[[bench]]
name = "creation"
harness = false
